{{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
<h2 class="mb-4">Productos Destacados</h2>
<div class="row">
  {% for producto in productos %}
  <div class="col-6 col-md-3 mb-4">
    <div class="card h-100">
      {% if producto.imagen %}
      <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ producto.nombre }}</h5>
        <p class="card-text text-success">${{ producto.precio }}</p>
        <a href="{% url 'producto_detail' producto.id %}" class="btn btn-primary w-100">Ver</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
